body {
	font-family:verdana;
  font-size:11px;
  background: #f4f4f4;
}

a:link, a:visited, a:active,
.author a, .author a:link, .author a:visited, .author a:active,
.meta a, .meta a:link, .meta a:visited, .meta a:active {
  
  color:#003399;
}

.view .name {
  font-size: 11px;
}


.pane-kolding_article_list-panel_pane_3 .view-node a{
  color: #f28101;
}

body.logged-in {

}
.subject a {
  background-color: #f28101 !important;
}
#container {
	/*background: url(../images/page-border-1.png) repeat-y center top;*/
 background: transparent url(../images/topribbon.png) repeat-x center top;
/*	margin-top: 2px; */
}
#pageheader {
	background: transparent;
}
#site-name { /* Kolding logo */
  position:absolute;
  left:-18px;
  top:0;
  padding:0;
  background: url(../images/logo.png) no-repeat left;
  height:108px;
  width:400px;
  margin:0;
  z-index:50;
}
#site-name a { /* Kolding title */ 
	background: url(../images/logotitle.png) no-repeat 0 0;
  position:absolute;
  left:120px;
  top:44px;
	height:14px;
	width:222px;
}

/**
 * User account area
 */
#account {
 position:relative;
 margin-left:18px;
 margin-top:-4px;
 width:220px;
 height:auto; 
 color:#000 !important;
}
#account h5, 
#account a{
 color:#000;
}

#account h3{
  text-indent:inherit;
  top:-20px;
  left:0;
  font-family:verdana;
  font-size:11px;
  font-weight:bold;
}

#account h3 {
	position: absolute;
	left: -9999em;
}
#account-profile .username a{
	font-weight: bold;
	color:#003399 !important;
}
#account-profile{
	width:auto !important;
}
#account-profile ul{
  background:transparent none;
  border:0 none;
}
#account-profile ul{
  width: 145px;
}
#account-profile ul div.content,
#account-profile ul div.content a {
  width: 104px;
}

#account-profile ul div.status {
  height: 19px; /* Cut off 3D effect for a more compact indicator */
}

.logged-in #account-profile{
	margin-top:23px;
}
#account-profile div.logout{
	position:relative;
}
#account-profile div.logout a{
	position: absolute;
	top:0px;
	background: url(../images/logud.png);
	width:54px;
	right:0;
	padding:0;
	height:24px;
	display: block;
	text-indent: -999em;
}
#account-profile .user{
	border-bottom:1px solid #bbbbbb;
}
#account-profile .cart {
  height: 35px;
  background-image: url(../images/bg-account-cart.png);
}
body #account-profile .cart,
body #account-profile .cart a {
  color: #fff;  
}
#account-profile .cart div.count{
  margin-top: 3px;
  font-size: 11px;
  font-weight: bold;
}
#account-profile .cart a{
  margin-top: 0;
  line-height: 1;
}


/**
 * User login form
 */
#block-ding-library-user-account > form > div > p{
  font-weight:bold;
}
#user-login-form input.form-text{
  background-color:#ddd;
  border:0 none;
  padding: 4px 0 1px 5px;
}
#user-login-form #edit-pass-wrapper,
#user-login-form #edit-pass-1-wrapper {
  width:160px;
}
#user-login-form #edit-pass-wrapper input,
#user-login-form #edit-pass-1-wrapper input {
  width:160px;
}
#user-login-form .form-image-button {
  margin: 0 0 0 6px;
}
#user-login-form {
  background: transparent none; /*url(../images/logind.png) no-repeat scroll 0 0;*/
  margin:2px 0 0;
  padding:0;
}
#user-login-form label {
  margin: 3px 0 0 5px;
}
#user-login-form label{
  color:#666666;
  font-weight:normal;
}
#user-login-form .form-item-password input{
  padding: 3px 0 3px 3px;
}
#user-login-form .form-image-button {
  height:22px;
  width:52px;
}


#ting-search-form {
	background: transparent none; /* url(../images/search.png) no-repeat 0 15px; */
 padding:15px 0 0 100px;
}
#ting-search-form div.example, #ting-search-form div.example li a, #ting-search-form div.example p {
	color:#efefef;
}


.jcarousel-skin-biblo {
	background: transparent url(../images/bg-carousel.png) repeat-x scroll center top;
}
#pagebody {

	background: transparent;
}
#pagebody-inner {
	background: transparent;
}
#path{
	padding:10px 0 0 200px;
	margin:0;
}
#pagefooter {
	background: transparent url(../images/footer-ribbon.png) repeat-x center top;
  color:#000;
  font-size:11px;
  
}
#bubbles {
  position:relative;
  background: #FEFFFE url(../images/footer-bubbles.png) no-repeat center -92px;
  /*height:314px;
  width:100%;
  position:absolute;
  top:-92px;
  z-index:-1;*/
 /*margin-top:-92px;*/
}
#bubbles2 {
  position:absolute;
  background: transparent url(../images/footer-bubbles.png) no-repeat center top;
  top:-92px;
  width:100%;
  height:92px;
  z-index:-1;
}
#pagefooter-inner {
	background:transparent none;
 width:920px;
 padding:0;
 margin:0 auto;
}
#pagefooter-inner div.left {
  width:190px;
  background:transparent none;
  padding: 5px 20px 0 20px;
}
#pagefooter h3, .pane-event_list h3, .pane-library_feature_list h3 {
  color:#fff;
  margin-bottom:20px;
}

#pagefooter-inner .icons{
  float:right;
}
#pagefooter-inner .icons a{
  display:block;
  background: transparent url(../images/icons.png) no-repeat -3px -4px;
  height:45px;
  width:45px;
  float:left;
  text-indent:-999em;
  margin-left:20px;
}
#pagefooter-inner .icons a.fl{
  background-position:-60px -4px;
}
#pagefooter-inner .icons a.ting{
  background-position:-110px -4px;
  width:100px;
}

.panel-threecol-33-34-33-stacked .panel-top {
	position: relative;
}
div.notice.soon {
	position: absolute;
	left: 165px;
	top: -2px;
	width: 223px;
	height: 244px;
	background: transparent url(../images/notice-soon.png) left top no-repeat;
	z-index: 100;
}
#user-login-form .form-item-textfield { margin-bottom: 3px;} 

#page {
	background: url(../images/rings.png) no-repeat center top;
	overflow: hidden;
	width: auto;
	margin: 0;
}


#page-inner{
	width:994px;
	margin: 0 auto;
  position:relative;
}

#page-inner{
	/* overflow:hidden;  why? */
}
#pageheader-inner{
  position:relative;
  margin: 0 36px;
}

#search {
  /*position:absolute;*/
  left:0;
  /*top:64px;*/
  background: #ebebeb;
  border-radius:5px;
  -o-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  width:684px;
  height:70px;
	margin:0;
  margin-top:20px;
}
#search > form > div {
  z-index:50;
}

#top {
	height:101px;
  padding-top:20px;
  /*padding-top:64px;*/
}
.menuwrapper ul { /* top right service menu */
  float:right;
  margin-right:50px;
  height:24px;
  font-family:verdana;
  font-size:11px;
}
#pagefooter h3, .pane-event_list h3, .pane-library_feature_list h3{
  font-family:verdana;
  font-size:11px;
  font-weight: bold;
}
.menuwrapper ul li {
  float:left;
  margin-left:15px;
  margin-top:7px;
}
.menuwrapper ul li a{
  color:#003399;
}
.menuwrapper .rsslink{
  position:absolute;
  right:0;
  top:9px;
}
#pageheader {
	margin: 0;
	position: relative;
}

#ting-search-form .form-text {
	border: 0 solid;
	float:none;
	height: 24px;
	margin: 0;
	padding: 0px 0 0 25px;
	width: 278px;
	background: transparent;
}
#edit-keys-wrapper {
	float: left;
	margin-bottom: 0;
	margin-top: 13px;
	width: 278px;
	background: #fff; /*red url(../images/search-back.png) no-repeat;*/
	padding-top: 2px;
	padding-left: 2px;
	margin-right: 10px;
  border:1px solid #cecece;
	
}
#ting-search-form .form-image-button {
	margin-top: 10px;
}
.ting-search-carousel .search-results {
	background: #ebebeb;
}
.ting-search-carousel {
	background: url(../images/carousel-back.png) no-repeat;
	margin-top: 24px;
}

.ting-search-carousel .search-controller {
  width:910px;
  background:#b7b7b5;
  border: 0 none !important;
  margin:0;
  padding-left:10px;
}

.ting-search-carousel .search-controller li {
	margin-top: 0;
  background:transparent;
  border:0;
  text-transform:uppercase;
  border-top:0 none !important;
  padding-top:2px;
}
.ting-search-carousel .search-controller li.active {
  background:#ebebeb;
}
.ting-search-carousel .search-controller li.active a{
  color:#f1942b;
}

#navigation {
  height:40px;
}
#navigation-inner{
  margin-top:3px;
  margin-left:-20px;
}
#navigation li{
  height:36px;
  padding:0;
  
}
#navigation li.active-trail {
	background:url(../images/menuactarrow.png) no-repeat center bottom; 
}
#navigation a{
  color:#fff;
  border:0 none;
  font-weight: bold !important;
}
#navigation li.active-trail a{
}

#testsite {
	background: url(../images/test-site.png) no-repeat;
	height: 77px;
	width: 157px;
	position: absolute;
	left: 50%;
	margin-left: -78px;
	top: -54px;
}

.panel-threecol-33-34-33-stacked .panel-left {
  width:450px;
}
body.no-sidebars #content {
  /*width:940px;*/
}
.ting-search-carousel {
  width:941px;
}

.jcarousel-skin-ting-search-carousel {
  margin-left:235px;
  width:675px;
}

#flapContainer{
  position:absolute;
  width:0;
  right:-20px;
  top:208px;
}

#flap{
  /*position:fixed;
  top:200px;*/
  width:225px;
}
#flap .block:first-child{
  background: #eb8b03 url(../images/flap-box-gradient.png) repeat-x top left;
  padding:10px;
  border-radius:5px;
  margin-bottom:20px;
  color:#fff;
}
#flap .block:first-child h3{
  color:#fff;
}

#flap #block-views-library-list-block-1{
  background:#fff;
  padding:10px;
  border-radius:5px;
}
#flap .view-library-list li{
  margin-bottom:20px;
  color:#000;
}
#flap .view-library-list .title a{
  font-weight:bold;
  color:#000;
} 

.ting-search-carousel {
  left:0;
  width:922px;
}
#content-inner {
  margin:0 0 0 19px;
  width:920px;
  background-color:#fff;
}
.ting-search-carousel .subtitle{
  color:#000;
  text-transform:none;
  text-shadow: 0 0 0 transparent;
  margin:10px 0 0 30px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-prev-horizontal {
  left:-254px;
}
.ting-search-carousel .search-results a,
.ting-search-carousel .search-results .creator, 
.ting-search-carousel .search-results .title {
  color: #000;
}


.topimage img{
  width:100% !important;
  height:auto !important;
}
.topimage .caption{
  text-align:right;
  color:#8c8c8c;
}




/* search area */

.form-item-select{
  float:left;
  margin:0;
}

.ui-selectmenu {
  background:transparent url('../images/choose-mat.png') no-repeat;
  height:22px;
  width:149px;
  display:block;
  float:left;
  border:1px solid #cecece;
  margin-left:6px;
  padding:4px 0 0 4px;
  color:#646464 !important;
  
}
.ui-selectmenu-open{
	border:1px solid #cecece;
}
.ui-selectmenu-menu li{
	padding:0 !important;
}
.ui-selectmenu-menu li a{
	display:block;
	padding:3px !important;
	height:auto !important;
  background:#fff;
  border:0;
}
.ui-selectmenu-menu li a:hover{
	background:#cecece;
}
.ui-selectmenu:hover {
  text-decoration:none !important;
  
}
#ting-search-form .form-image-button {
  margin:0 0 0 6px;
}

/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; position:relative; height:2em; text-decoration: none; overflow:hidden;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: 0; }
.ui-selectmenu-menu-dropdown { margin-top:6px; }
.ui-selectmenu-menu li {width:153px; padding:0; margin:0; display: block; border:0 none;padding: 8px 0 0 4px; background:#fff; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {color:#646464; text-decoration:none !important;height:22px;line-height: 1.4em; display:block; padding:0; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

/** 
 * genereral cleanup
 * ------------------------- 
 **/
 
 .panel-top{
   background: transparent none;
 }
 .panel-left .view, .panel-left .pane-library_feature_detail_list ul.item-list{
   left:0;
 }
.pane-kolding_article_list-panel_pane_3 .field-list-image-fid{
  float:left;
  
  margin-left:0 !important;
}
.pane-kolding_article_list-panel_pane_3 .tid a{
  color:#fff;
  background:#eb8b03;
  padding:2px;
  text-transform:uppercase;
}
.pane-kolding_article_list-panel_pane_3 .field-library-ref-nid,
.pane-kolding_article_list-panel_pane_3 .name{
  display:none;
}
.pane-kolding_article_list-panel_pane_3 li > div{
  margin-left:140px;
}
.pane-kolding_article_list-panel_pane_3 .title a{
  color:#000;
  font-size:14px;
  padding:5px 0;
  display:block;
}
.pane-kolding_article_list-panel_pane_3 .view-node{
  text-align:right;
}
.pane-kolding_article_list-panel_pane_3 .comment-count{
  display:none;
}

.panel-threecol-33-34-33-stacked .panel-left {
  background: transparent none;
}
.panel-middle .pane-event_list-panel_pane_4{
  margin-right:20px;
}  
#event-list h3 {
  background:#000;
  color:#fff;
}
#event-list li .calendar-leafs .info{
  width:130px;
}
ul.pager li a {
  color:#003399;
}
.panel-threecol-left-stacked-right,
.panel-twocol-left-stacked{
  padding-top:30px;
}
.panel-twocol-left-stacked .content-left, 
body.node-type-page .panel-threecol-left-stacked-right .content-left {
  width:675px;
}
.content-top{
  background:transparent none;
  padding:0px;
  position: static;
}
.content-right{
  padding-top:0px;
}

ul.menu li.expanded,
ul.menu li.collapsed {
  margin:0 0 0 15px;
}

.pane-library_portal .menu li.leaf a,
.pane-library_portal ul.menu li.expanded a,
.pane-library_portal ul.menu li.collapsed a{
  display:block;
  padding:20px 0 5px 0;
  color:#000;  
  border-bottom:1px solid #f1eeee;
  font-size:11px;
  background: transparent url(../images/left-menu-arrow.png) no-repeat right 24px;
}

.pane-library_portal .menu li.leaf a:hover, .pane-library_portal .menu li.leaf a.active,
.pane-library_portal ul.menu li.expanded a.active{
  color:#eb8b03;
  text-decoration:none !important;
  font-weight:bold;
  background: transparent url(../images/left-menu-arrow.png) no-repeat right -60px;
}

.panel-pane .node-teaser .content {
  width: 500px;
}

/* Ding box styles */
/* No more absolute widths */
.ding-box-pane,
.ding-box-pane h3,
.ding-box-pane ul,
.ding-box-pane ul li,
.ding-box-pane .field-ting-refs,
.ding-box-pane .field-ting-refs .record {
  width: auto; background-image: none;
}
.ding-box-pane .pane-content h3 { padding: 0; }

.ding-box-pane .pane-title * { text-transform: none; font-weight: bold; }
/* Sliding doors GFX */  
.ding-box-pane .panel-pane { background: transparent url(../images/ding-box-sprites.png) left bottom no-repeat; margin: 0; }
.ding-box-pane .pane-title { background: transparent url(../images/ding-box-sprites.png) left top no-repeat; padding-left: 7px; }
.ding-box-pane .pane-title > * { background: transparent url(../images/ding-box-sprites.png) right top no-repeat; padding-right: 7px; }
.ding-box-pane .pane-content { background: transparent url(../images/ding-box-sprites.png) right bottom no-repeat; margin-left: 7px; padding: 0 7px 7px 0; }
/* Variants */
.ding-box-pane-black .pane-title > * { background: transparent url(../images/ding-box-header-sprites.png) right top no-repeat; color: #fff; }
.ding-box-pane-white .pane-title > * { background: transparent url(../images/ding-box-header-sprites.png) right bottom no-repeat; color: #000; }

.ding-box-pane .field-ting-refs { padding: 0; }
.ding-box-pane .field-ting-refs h3 { text-transform: none; font-size: 14px; margin-bottom: 14px; }
.ding-box-pane .field-ting-refs .types ul,
.ding-box-pane .field-ting-refs .subjects ul { padding-top: 0; }
.ding-box-pane .view .feed-icon { float: none; text-align: right; }
.ding-box-pane .view .feed-icon span { top: -8px; }

/**
 * Tabs
 */
ul.primary { padding-top: 6px; padding-left: 2px; }
ul.primary li a { padding: 5px 10px 0; background: #F7F7F7; }
ul.primary li.active a { color: #F28101; }

/* Show the tab pane instead of the basic tabs on the wiki frontpage */
.page-wiki .tabs { display: none; }
.page-wiki .pane-page_tabs { overflow: hidden; }
.page-wiki .pane-page_tabs .tabs { display: block; }

/**
 * arrangementer side
 */
.page-ting #ting-object .tab-navigation{
  width:200px !important;
}
.page-ting #ting-object .tab-navigation ul{
  padding-right:10px;
}
.page-ting #ting-object .tab-navigation .item-list li{
  float:none;
}

 .page-ting #ting-object .tab-navigation .item-list li, .page-arrangementer .pane-categories .item-list li{
  
  border:0 none;
  background:transparent none;
  padding:0;
  margin:0;
  padding-left:15px;
}

 .page-ting #ting-object .tab-navigation .item-list li a, .page-arrangementer .pane-categories .item-list li a{
  display:block;
  padding:20px 0 5px 0;
  color:#000;  
  border-bottom:1px solid #f1eeee;
  font-size:11px;
  background: transparent url(../images/left-menu-arrow.png) no-repeat right 24px;
  text-transform:none;
  float:none;
}
.page-arrangementer .pane-categories .item-list li a:hover, .page-arrangementer .pane-categories .item-list li a.active{
  color:#eb8b03;
  text-decoration:none !important;
  font-weight:normal;
  background: transparent url(../images/left-menu-arrow.png) no-repeat right -60px;
}
body.ding-arrangementer .panel-threecol-left-stacked-right .panel-left {
  width:190px;
} 
body.page-arrangementer .panel-middle{
  width:500px;
}
.tab-navigation, .page-arrangementer .panel-left ul, .ding-arrangementer .panel-left ul, .ding-ting-collection .panel-left ul .tab-navigation ul {
  width:180px !important;
  padding-right:10px;
}

.tab-navigation ul.item-list li, .page-arrangementer .panel-left ul li, .ding-arrangementer .panel-left ul li, .ding-ting-collection .panel-left ul li, .tab-navigation ul li {
  width:auto;
}

.pane-tagadelic-2 {
  background-image: none;
}

.panel-threecol-left-stacked-right .panel-left{
  width:180px;
}
.panel-threecol-left-stacked-right .content-left{
  width:675px;
}
.panel-threecol-left-stacked-right .panel-middle{
  padding-left:20px;
}
#ting-search-form div.example, #ting-search-form div.example li a, #ting-search-form div.example p{
  color:#039;
}

.node .meta{
  text-align:right;
  color:#666 !important;
  font-size: 11px;
}


.panel-left .menu li ul{
  display:none;
}
#event-list li .calendar-leafs .leaf{
  background: transparent url(../images/bg-calendar.png) no-repeat 0 0 !important;
}
#event-list li .calendar-leafs .leaf.today {
  background: transparent url(../images/bg-calendar.png) no-repeat 0 -64px !important;
}

#event-list li div.leaf .month{
  color:#EB8B03;
}
.view .feed-icon{
  float:right;
  margin:0;
}
.view .feed-icon a, .view-footer a{
  color: #003399;
}
.view-footer{
  float:left;
  /*clear:none;*/
  margin:0 0 0 10px;
}

/**
 * Wiki
 */

/* Wiki frontpage */
.panels-flexible-wiki_frontpage {
  padding-top: 30px; /* Wiki frontpage spacing should match other layouts */
}
.panels-flexible-column-wiki_frontpage-9{
  width:180px;
}
.panels-flexible-column-wiki_frontpage-main{
  width:auto; padding-left: 20px;
}
.panels-flexible-region-wiki_frontpage-emneord,
.panels-flexible-region-wiki_frontpage-center {
  width:460px;
}
.panels-flexible-region-wiki_frontpage-emneord .inside,
.panels-flexible-region-wiki_frontpage-center .inside {
  padding-right: 15px; 
}

.panels-flexible-column-wiki_frontpage-2{
  width:310px;
}
.panels-flexible-column-wiki_frontpage-2 .inside {
  padding-right: 15px;
}
.panels-flexible-column-wiki_frontpage-3{
  width:402px;
}
.panels-flexible-region-wiki_frontpage-middle {
  width:164px;
}
.panels-flexible-region-wiki_frontpage-right,
.panels-flexible-region-wiki_frontpage-kampagne,
.panels-flexible-region-wiki_frontpage-kampagne_ {
  width:230px;
}

.pane-wiki_list-panel_pane_3 h3 {
  margin-bottom: 10px; 
}
.pane-wiki_list-panel_pane_3 li {
  clear: both;
}
.pane-wiki_list-panel_pane_3 a {
  color: #666;
}
.pane-wiki_list-panel_pane_3 a.imagecache { 
  display: block;
  float: left;
  margin: 0 10px 10px 0;  
}
.pane-wiki_list-panel_pane_3 .type {
  display: inline;
  padding: 1px 7px;
  background: #f28101;
  color: #fff;
  text-transform: uppercase;
}
.pane-wiki_list-panel_pane_3 .attachment-after li {
  padding: 8px;
  border: 1px solid #EBEBEB;
  border-width: 1px 0 0;
}
.pane-wiki_list-panel_pane_3 .attachment-after li.views-row-last {
  border-width: 1px 0;
}

.pane-field_wiki_images .more,
.ding-wiki-gallery .ding-wiki-carousel .count,
.ding-wiki-gallery .ding-wiki-carousel .controls a { color: #f28101; }

/* Wiki subpages */

/* Wiki page create page */

#ding-wiki-page-form .form-ting-reference .form-item-textarea {
  display: none; /* We do not show form elements for entering descriptions of ting references in the public facing theme */
} 

.born{
  position:absolute;
  right:0;
  display:block;
  width:193px;
  height:55px;
  background:transparent url(../images/dit-born.png);
  text-indent:-999em;
  margin-top:-8px;
}


body.page-arrangementer .panel-middle, body.ding-arrangementer .panel-middle, .tab-navigation-main{
  width:465px;
}

/* AddThis */

#content #content-inner{
  position:relative;
}

#content .addthis_toolbox{
  position:absolute;
  right:0px;
  width:206px;
  top:0px;
  padding:10px 0;
}
#content .addthis_toolbox .at15t_facebook {
  margin-right: 4px;
}

/* Ting collections and objects  */

.ting-overview .right-column{
   width:250px;
}
.object-information{
  width:430px;
}

body.ding-ting-object .ding-box-wide, 
body.ding-ting-collection .ding-box-wide {
  width: 465px;
}

body.ding-ting-object .ting-availability, 
body.ding-ting-collection .ting-availability {
  position: relative;
  left: -7px;
}

body.ding-ting-object .pane-recommendation_list, 
body.ding-ting-collection .pane-recommendation_list {
  margin-left: 213px; /* Make recommendations appear in same colum as main content */
}
.pane-recommendation_list ul.ting-recommendation {
  padding-top: 4px;
}
.pane-recommendation_list ul.ting-recommendation li {
  margin: 0;
}

/** 
 * Login page 
 * This page uses the default layout so we fake the columns
 */
body.user-login #content-main {
  margin: 30px 0 0 200px;
}

/**
 * User edit page
 * This page uses the default layout so we fake columns and spacing
 */
body.page-user .tabs { 
  margin-left: 15px;
}
body.page-user .content-left {
  width: 660px;
  margin-left: 15px;
}
body.page-user .content-left .panel-left {
  width: auto;
}
body.user-edit #content-main {
  margin: 0 15px;
}
body.user-edit #content-main form {
  padding-bottom: 15px;
}

/**
 * Library list
 */
body.page-biblioteker .panel-twocol-left-stacked .content-left {
  width: 660px;
  margin-left: 15px;
}
body.page-biblioteker .panel-left .view ul li {
  padding-left: 0; 
}
.panel-left .view-library-list {
  width: auto;
}
.panel-left .view-library-list .node-teaser-library {
  width: auto;
}
.panel-left .view-library-list .node-teaser-library .content {
  width: 353px;
}
.ding-library-map {
  width: 668px;
}

/**
 * 	styling right column
 */

.campaign-box{
	background: transparent url(../images/ding-box-sprites.png) no-repeat bottom left;
}
.campaign-box .campaign-inner{
	margin-left:7px;
	padding:5px 12px 5px 5px;
	
	background: transparent url(../images/ding-box-sprites.png) no-repeat bottom right;
	width:auto;
}
.campaign-box .campaign-type-wysiwyg-title a{
  display:inline;
  background:transparent none;
  padding:0;
  font-family:verdana;
  font-size:11px;
  text-transform:none;
}


.campaign-box .pane-title{
	background: transparent url(../images/ding-box-header-sprites.png) no-repeat top left;
}
.campaign-box .pane-title h3{
	padding:7px 12px 0 5px;
	margin-left:7px;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	background: transparent url(../images/ding-box-header-sprites.png) no-repeat top right;
}

.field-ting-refs, .field-ting-refs div.record{
	width: auto;
}


body.page-arrangementer .panel-middle .view-event-list ul.pager li, #pager div.navwide, #pager div.nav, ul.pager li, ul.pager li.pager-next, ul.pager li.pager-item, ul.pager li.pager-last, ul.pager li.pager-previous, ul.pager li.pager-first, .panel-left ul.pager li.pager-first {
	font-size:11px;
}
