body {
	font-family:verdana;
  font-size:11px;
  background: #f4f4f4;
}
body.logged-in {

}
#container {
	/*background: url(images/page-border-1.png) repeat-y center top;*/
 background: transparent url(images/topribbon.png) repeat-x center top;
/*	margin-top: 2px; */
}
#pageheader {
	background: transparent;
}
#site-name { /* Kolding logo */
  position:absolute;
  left:-18px;
  top:0;
  padding:0;
  background: url(images/logo.png) no-repeat left;
  height:108px;
  width:400px;
  margin:0;
  z-index:50;
}
#site-name a { /* Kolding title */ 
	background: url(images/logotitle.png) no-repeat 0 0;
  position:absolute;
  left:120px;
  top:44px;
	height:14px;
	width:222px;
}
#account h3 {
	position: absolute;
	left: -9999em;
}
#ting-search-form {
	background: transparent none; /* url(images/search.png) no-repeat 0 15px; */
 padding:15px 0 0 100px;
}
#ting-search-form div.example, #ting-search-form div.example li a, #ting-search-form div.example p {
	color:#efefef;
}
#user-login-form {
	background: transparent none; /*url(images/logind.png) no-repeat scroll 0 0;*/
  margin:0;
  padding:0;
}
#user-login-form .form-image-button {
  height:22px;
  width:52px;
}
#user-login-form #edit-name-wrapper input,
#user-login-form #edit-pass-wrapper input{
  padding: 3px 0 3px 3px;
}
#user-login-form label {
  margin: 3px 0 0 5px;
}
.jcarousel-skin-biblo {
	background: transparent url(images/bg-carousel.png) repeat-x scroll center top;
}
#pagebody {
  margin-top:37px;
	background: transparent;
}
#pagebody-inner {
	background: transparent;
}
#pagefooter {
	background: transparent url(images/footer-ribbon.png) repeat-x center top;
  
}
#bubbles {
  position:relative;
  background: #FEFFFE url(images/footer-bubbles.png) no-repeat center -92px;
  /*height:314px;
  width:100%;
  position:absolute;
  top:-92px;
  z-index:-1;*/
 /*margin-top:-92px;*/
}
#bubbles2 {
  position:absolute;
  background: transparent url(images/footer-bubbles.png) no-repeat center top;
  top:-92px;
  width:100%;
  height:92px;
  z-index:-1;
}
#pagefooter-inner {
	background:transparent none;
 width:920px;
 padding:0;
 margin:0 auto;
}
#pagefooter-inner div.left {
  width:190px;
  background:transparent none;
  padding: 5px 20px 0 20px;
}
#pagefooter h3, .pane-event_list h3, .pane-library_feature_list h3 {
  color:#fff;
  margin-bottom:20px;
}

.panel-threecol-33-34-33-stacked .panel-top {
	position: relative;
}
div.notice.soon {
	position: absolute;
	left: 165px;
	top: -2px;
	width: 223px;
	height: 244px;
	background: transparent url(images/notice-soon.png) left top no-repeat;
	z-index: 100;
}
#user-login-form .form-item-textfield { margin-bottom: 3px;} 

#page {
	background: url(images/rings.png) no-repeat center top;
	overflow: hidden;
	width: auto;
	margin: 0;
}


#page-inner{
	width:994px;
	margin: 0 auto;
  position:relative;
}

#page-inner{
	/* overflow:hidden;  why? */
}
#pageheader-inner{
  position:relative;
  margin: 0 36px;
}

#search {
  /*position:absolute;*/
  left:0;
  /*top:64px;*/
  background: #ebebeb;
  width:684px;
  height:70px;
	margin:0;
  margin-top:20px;
}
#account {
	/*position:absolute;*/
  /*right:0;*/
  top:64px;
  /*margin:0;*/
 margin-left:20px;
 width:218px;
 height:auto;
  
}
#user-login-form input.form-text{
  background-color:#ddd;
  border:0 none;
  padding: 4px 0 1px 5px;
}
#user-login-form #edit-pass-wrapper {
  width:160px;
}
#user-login-form #edit-pass-wrapper input {
  width:160px;
}
#user-login-form .form-image-button {
  margin: 0 0 0 6px;
}
#user-login-form label{
  color:#666666;
  font-weight:normal;
}
#account h3{
  text-indent:inherit;
  top:-20px;
  left:0;
  font-family:verdana;
  font-size:11px;
  font-weight:bold;
}
#top {
	height:101px;
  padding-top:20px;
  /*padding-top:64px;*/
}
.menuwrapper .servicemenu { /* top right service menu */
  float:right;
  margin-right:50px;
  height:24px;
  font-family:verdana;
  font-size:11px;
}
.menuwrapper .servicemenu li {
  float:left;
  margin-left:15px;
  margin-top:7px;
}
.menuwrapper .servicemenu li a{
  color:#003399;
}
.menuwrapper .rsslink{
  position:absolute;
  right:0;
  top:9px;
}
#pageheader {
	margin: 0;
	position: relative;
}

#ting-search-form .form-text {
	border: 0 solid;
	float:none;
	height: 20px;
	margin: 0;
	padding: 0px 0 0 25px;
	width: 278px;
	background: transparent;
}
#edit-keys-wrapper {
	float: left;
	margin-bottom: 0;
	margin-top: 13px;
	width: 278px;
	background: url(images/search-back.png) no-repeat;
	padding-top: 2px;
	padding-left: 2px;
	margin-right: 10px;
	
}
#ting-search-form .form-image-button {
	margin-top: 10px;
}
.ting-search-carousel .search-results {
	background: #ebebeb;
}
.ting-search-carousel {
	background: url(images/carousel-back.png) no-repeat;
	margin-top: -14px;
}

.ting-search-carousel .search-controller {
  width:910px;
  background:#b7b7b5;
  border: 0 none !important;
  margin:0;
  padding-left:10px;
}

.ting-search-carousel .search-controller li {
	margin-top: 0;
  background:transparent;
  border:0;
  text-transform:uppercase;
  border-top:0 none !important;
  padding-top:2px;
}
.ting-search-carousel .search-controller li.active {
  background:#ebebeb;
}
.ting-search-carousel .search-controller li.active a{
  color:#f1942b;
}

#navigation {
  height:40px;
}
#navigation-inner{
  margin-top:3px;
  margin-left:-20px;
}
#navigation li{
  height:36px;
  padding:0;
}
#navigation li.active-trail {
	background:url(images/menuactarrow.png) no-repeat center bottom; 
}
#navigation a{
  color:#fff;
  border:0 none;
}
#navigation li.active-trail a{
}

#testsite {
	background: url(images/test-site.png) no-repeat;
	height: 77px;
	width: 157px;
	position: absolute;
	left: 50%;
	margin-left: -78px;
	top: -54px;
}

.panel-threecol-33-34-33-stacked .panel-left {
  width:450px;
}
body.no-sidebars #content {
  /*width:940px;*/
}
.ting-search-carousel {
  width:941px;
}

.jcarousel-skin-ting-search-carousel {
  margin-left:235px;
  width:675px;
}

#flapContainer{
  position:absolute;
  width:0;
  right:0px;
  top:208px;
}

#flap{
  /*position:fixed;
  top:200px;*/
  width:225px;
}
#flap #block-block-1{
  background: #eb8b03 url(images/flap-box-gradient.png) repeat-x top left;
  padding:10px;
  border-radius:5px;
  margin-bottom:20px;
  color:#fff;
}
#flap #block-block-1 h3{
  color:#fff;
}

#flap #block-views-library-list-block-1{
  background:#fff;
  padding:10px;
  border-radius:5px;
}
#flap .view-library-list li{
  margin-bottom:20px;
  color:#000;
}
#flap .view-library-list .title a{
  font-weight:bold;
  color:#000;
} 

.ting-search-carousel {
  left:0;
  width:922px;
}
#content-inner {
  margin:0 0 0 19px;
}
.ting-search-carousel .subtitle{
  color:#000;
  text-transform:none;
  text-shadow: 0 0 0 transparent;
  margin:10px 0 0 30px;
}
.jcarousel-skin-ting-search-carousel .jcarousel-prev-horizontal {
  left:-254px;
}
.ting-search-carousel .search-results .creator, .ting-search-carousel .search-results .title {
  display:none;
}
